/* Font */
@font-face {
    font-family: 'jakartaSansRegular';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf) format(truetype);
}


@font-face {
    font-family: 'jakartaSansExtraBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansSemiBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansMedium';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansExtraBoldItalic';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBoldItalic.ttf) format(truetype);
}


/* Universal */
* {
    font-family: 'jakartaSansRegular';
}

body {
    font-size: 16px;
}



/* Navbar */
.judul h5 {
    color: black;
    font-family: 'jakartaSansBold';
    font-weight: bold;
    font-size: 1.3em;
}

nav,
main {
    padding: 0 120px;
}



.navbar>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasi ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigasi ul li {
    list-style: none;
    margin: 0 15px;
}

.navigasi ul li a {
    text-decoration: none;
    color: black;
    opacity: .6;
    font-weight: bold;
    font-size: .9em;
}

.navigasi ul li a:hover {
    color: #0DB51D;
}

.akun button:first-child {
    background-color: transparent;
}


.akun button {
    width: 90px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.akun button a {
    text-decoration: none;
    color: black;
}

.akun p {
    margin: 0;
    font-size: .9em;
    margin-left: 10px;
    font-family: 'jakartaSansSemiBold';
}





/* Main */
#page1 {
    margin-top: 120px;
}

#page1 .judul h1 {
    font-size: 2.2em;
    font-family: 'jakartaSansBold';
    color: #258D00;
}




/* page 2 */
#page2 {
    margin-top: 80px;
}


#page2 .input label {
    margin-top: 30px;
    font-size: 1.1em;
    font-family: 'jakartaSansSemiBold';
}

#page2 .input input {
    margin-top: 20px;
    padding: 16px;
    font-size: .9em;
}

#page2 .input label span {
    color: red;
}

#page2 .input .ktp {
    border: 1px solid black;
    padding: 20px;
}

#page2 .input .ktp p {
    margin: 10px 0;
}

#page2 button {
    width: 315px;
    font-size: 1.2em;
    font-family: 'jakartaSansBold';
    border: none;
    background-color: #AEF161;
    border-radius: 10px;
    margin-top: 50px;
}





/* Footer */
footer {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-top: 120px;
    
}

footer .container{
    padding-left: 200px;
}

footer .menu h5 {
    margin-bottom: 15px;
}

footer .menu ul li {
    margin-bottom: 15px;
}