/* Font */
@font-face {
    font-family: 'jakartaSansRegular';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf) format(truetype);
}


@font-face {
    font-family: 'jakartaSansExtraBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansSemiBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansMedium';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansExtraBoldItalic';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBoldItalic.ttf) format(truetype);
}


/* Universal */
* {
    font-family: 'jakartaSansRegular';
}

body {
    font-size: 16px;
}



/* Navbar */
.judul h5 {
    color: black;
    font-family: 'jakartaSansBold';
    font-weight: bold;
    font-size: 1.3em;
}

nav,
main .row1,
main .row2 {
    padding: 0 120px;
}

.navbar>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasi ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigasi ul li {
    list-style: none;
    margin: 0 15px;
}

.navigasi ul li a {
    text-decoration: none;
    color: black;
    opacity: .6;
    font-weight: bold;
    font-size: .9em;
}

.navigasi ul li a:hover {
    color: #0DB51D;
}

.akun button:first-child {
    background-color: transparent;
}


.akun button {
    width: 90px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.akun button a {
    text-decoration: none;
    color: black;
}

.akun p {
    margin: 0;
    font-size: .9em;
    margin-left: 10px;
    font-family: 'jakartaSansSemiBold';
}





/* Main */
main .row1 {
    margin: 50px 0 100px;
}

main .row1 h2 {
    font-family: 'jakartaSansMedium';
    font-size: 2.1875em;
}

main .row1 h2 u {
    font-family: 'jakartaSansExtraBold';
}



main .row2 {
    margin-bottom: 30px;
}


main .row2 .nomor p,
main .row2 .kategori p {
    margin: 0;
}

main .row2 .nomor,
main .row2 .kategori {
    display: flex;
    justify-content: center;
    align-items: center;

}

main .row2 .nomor {
    border: 2px solid #51A433;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    color: #51A433;
}

main .row2 .kategori {
    border: 2px solid #CED205;
    width: 120px;
    height: 60px;
    border-radius: 4px;
    color: #979A0D;
    background-color: rgba(151, 154, 13, .1);
    font-size: 1.25em;
}

main .row2 .nomor p,
main .row2 .kategori p {
    font-family: 'jakartaSansSemiBold';
}







main .row3 {
    background: rgba(81, 164, 51, .1);
    padding: 80px 0;
}

main .row3 .row {
    padding: 0 80px;
}

main .row3 .total h1 {
    font-size: 1.875em;
    font-family: 'jakartaSansBold';
    text-align: center;

}


main .row3 .skor h2 {
    font-family: 'jakartaSansExtraBold';
    font-size: 4em;
}





main .row4 button {
    border: 2px solid #51A433;
    font-size: 1em;
    font-family: 'jakartaSansSemiBold';
    color: #51A433;
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
}

main .row4 {
    padding: 0 120px;
    margin-bottom: 100px;
}



/* Footer */
footer {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

footer .container {
    padding-left: 200px;
}

footer .menu h5 {
    margin-bottom: 15px;
}

footer .menu ul li {
    margin-bottom: 15px;
}