/* Font */
@font-face {
    font-family: 'jakartaSansRegular';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf) format(truetype);
}


@font-face {
    font-family: 'jakartaSansExtraBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansSemiBold';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansMedium';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'jakartaSansExtraBoldItalic';
    src: url(../Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBoldItalic.ttf) format(truetype);
}


/* Universal */
* {
    font-family: 'jakartaSansRegular';
}

body {
    font-size: 16px;
}



/* Navbar */
.judul h5 {
    color: black;
    font-family: 'jakartaSansBold';
    font-weight: bold;
    font-size: 1.3em;
}

nav,
main {
    padding: 0 120px;
}

.navbar>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasi ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigasi ul li {
    list-style: none;
    margin: 0 15px;
}

.navigasi ul li a {
    text-decoration: none;
    color: black;
    opacity: .6;
    font-weight: bold;
    font-size: .9em;
}

.navigasi ul li a:hover {
    color: #0DB51D;
}

.akun button:first-child {
    background-color: transparent;
}


.akun button {
    width: 90px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.akun button a {
    text-decoration: none;
    color: black;
}

.akun p {
    margin: 0;
    font-size: .9em;
    margin-left: 10px;
    font-family: 'jakartaSansSemiBold';
}





/* Main */



main .row1 .buat button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-family: 'jakartaSansBold';
    border: none;
    background-color: #AEF161;
}



main .row1 .search input {
    font-size: .8em;
}

main .row1 .search input {
    border: none;
}

main .row1 .filter {
    width: 10%;
    margin-left: 15px;
}





main .row2 .left {
    padding: 30px 15px;
}

main .row2 .left .judul {
    width: 80%;
}

main .row2 .left .judul h5 {
    font-size: 1.125em;
    color: #258D00;
}

main .row2 .left .hastag .tag h5 {
    font-size: 1.125em;
    font-family: 'jakartaSansBold';
}

main .row2 .left .hastag .tag p {
    font-size: 0.75em;
    color: #646464;

}



main .row2 .diskusi {
    margin-top: 100px;
}

main .row2 .diskusi img {
    width: 70px;
    height: 70px;
}

main .row2 .diskusi .grup {
    width: 80%;
}

main .row2 .diskusi .grup h3 {
    font-family: 'jakartaSansSemiBold';
}

main .row2 .diskusi .grup .status p:first-child {
    font-family: 'jakartaSansBold';
    color: #258D00;
}

main .row2 .diskusi .grup .status p:nth-child(2),
.status p:nth-child(3) {
    font-size: 12px;
    font-family: 'jakartaSansSemiBold';
    color: #7D7C7C;
}






/* Footer */
footer {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

footer .container {
    padding-left: 200px;
}

footer .menu h5 {
    margin-bottom: 15px;
}

footer .menu ul li {
    margin-bottom: 15px;
}